html {
    font-size: 16px;
}

body {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

.draggable {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: drag;
    flex-basis: 1;
    user-select: none;
    height: 2rem;
    width: 4rem;
}

.text * {
    
    display: block;

}