html {
    font-size: 16px;
    height: 100vh;
}

body {
    display: block;
    font-size: 2rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.draggable {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: drag;
    user-select: none;
    height: 100%;
    width: 4rem;
}
.side-draggable {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: drag;
    user-select: none;
    height: 5rem;
    width: 4rem;
}

.main-drag {
    position: absolute;
    left: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.side-drag {
    position: fixed;
    left: 0px;
}

#side {
    height: 100vh;
}

.text {
    display: block;
}

.text-main {
    position: relative;
    left: 4rem;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    width: 90%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 215, 0, 0.5);
    padding-left: 10px;
}

#summary-head {
    position: fixed;
    left: 4rem;
    top: 0px;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 215, 0, 0.5);
    padding-left: 10px;
}

#summary-container {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 95%;
}

a {
    color: rgba(255, 215, 0, 0.8);
    font-size: x-large;
    text-decoration: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 215, 0, 0.5);;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
  }

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid; 
}

body::-webkit-scrollbar {
width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: black;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid; 
color: rgba(255, 215, 0, 0.5);  /* creates padding around scroll thumb */
}