beautifulsoup4==4.9.3
bidict==0.21.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
Flask==1.1.2
Flask-SocketIO==5.0.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
keybert==0.2.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.20.1
packaging==20.9
pycparser==2.20
pyparsing==2.4.7
python-engineio==4.0.0
python-socketio==5.0.4
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
six==1.15.0
sounddevice==0.4.1
soupsieve==2.2
threadpoolctl==2.1.0
tokenizers==0.10.1
torch==1.8.0
tqdm==4.59.0
transformers==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.3
vosk==0.3.15
Werkzeug==1.0.1
wikipedia==1.4.0
